Codacy CSS conventions

---------- ESSENTIALS ----------


CORE

- Imports other essentials (BASE, LAYOUT, )
- Defines state-wide variables



BASE

- Contains basic element selectors only



LAYOUT

- Contains positioning and measurement information
- Please use the prefix "l-"



COLORS

- Defines the palette (no other css)



COLOR SCHEMES

- Defines color schemes like this:

		.porcelain {
			color: @color_stone;
			background-color: @color_white;
		}

		.porcelain:hover {
			color: @color_steel;
			background-color: @color_noonsky;
		}



TEXT

- Defines text styles



STATES

- Defines states (applied mainly by javascript)
- Allows use of !important 
- Please use the prefix "is-"

---------- END OF ESSENTIALS ----------

---------- MODULES ----------

---------- END OF MODULES ----------



